* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Raleway', sans-serif;
}


/*landing page*/
.jumbotron hr {
	background-color: #fff; /*white*/
}

.btn a {
	text-decoration: none;
	color: #fff;
}

#jumbo-land {
	height: 100vh;
	padding-top: 20%;
	background-color: #333; /*off black*/
	border-radius: 0; /*remove jumbo's rounded corners*/
}

.jumbotron h1 {
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;
}


/*end landing page*/


/*home page*/

#home-landing {
	background-color: #333; /*black*/
	color: #fff; /*white*/
	padding: 20%;
}

#carousel-home {
	height: 100vh;
}

#carousel-home img {
	height: 90vh;
	max-height: 90vh;
}


/*end home page*/


/*contact us page*/

/*end contact us*/

/*about us page*/

#jumbotron-about {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
	margin-bottom: 0;
}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Montserrat', sans-serif;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;	
}


#mission {
	height: 100%;
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
}

#vision {
	height: 100%;
	background-color: #f2f2f2; /*off white*/
	color: #141414; /*off black*/
}

/*end about us*/



/*gallery page*/

#head-gall {
	margin-top: 8%;
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
	text-transform: uppercase; /*uppercase the text*/
	letter-spacing: 0.5em;
}

#gallery-items .card {
	height: 400px;
	margin-bottom: 20px;
}

#gallery-items .card img {
	height: 250px;
	margin-bottom: 50px;
}



/*end gallery*/








